<div class="container">
    <div class="columns is-centered">
        <div class="column is-two-third">
            <div class="card">
                <div class="card-image m-5 pt-5">
                    <figure class="image is-16by9">
                        <img src="{{course.imageUrl}}" alt=""/>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ course.title }}</p>
                    </div>
                    </div>

                    <div class="content">
                        <p> Niveau : {{course.level}} </p> 
                        <p> {{ course.description}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>