.image.is-rounded img {
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification {
  margin-bottom: 0;
}

.message {
  margin-bottom: 1rem;
}

.icon-text {
  font-size: 1.1rem;
}
