[build]
  base = "frontend"
  command = "npm run build -- --configuration production"
  publish = "dist/apprendre-en-s-amusant/browser"
  
[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
