<div class="box">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <strong>{{ course.title }}</strong>
      </div>
      <div class="level-item">
        <span class="tag is-info">{{ course.level }}</span>
      </div>
      <div class="level-item">
        <span>{{ course.dayOfWeek }} - {{ course.timeSlot }}</span>
      </div>
      <div class="level-item">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <span>{{ course.location }}</span>
        </span>
      </div>
      <div class="level-item">
        {{ course.capacity }} places
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button class="button is-primary" (click)="onViewCourse()">
          S'inscrire
        </button>
      </div>
    </div>
  </div>
</div>
