<div class="column">
    <div class="card">
        <div class="card-content">
            <div class="media">
            <div class="media-content">
                <p class="title is-4">{{ course.title }}</p>
            </div>
            </div>

            <div class="content">
                <p><strong>Niveau :</strong> {{course.level}}</p>
                <p><strong>Jour :</strong> {{course.dayOfWeek}}</p>
                <p><strong>Horaire :</strong> {{course.timeSlot}}</p>
                <p><strong>Lieu :</strong> {{course.location}}</p>
                <p><strong>Places :</strong> {{course.capacity}}</p>
                <button (click)="onViewCourse()" class="button is-primary is-light">Voir cours</button>
            </div>
        </div>
    </div>
</div>
