.card {
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: translateY(-2px);
    transition: all 0.3s;
}

.card-content {
    flex-grow: 1;
}